.customProcessNode {
  height: 56px;
  width: 128px;
  border-radius: 8px;
  // line-height: 56px;
  border: 1px solid #505050;
  background-color: #333333;
  color: #fff;
  text-align: center;
  &:hover {
    border: 1px solid #618bf6;
  }
}
