.customStartNode {
  width: 80px;
  height: 40px;

  background: #333333;
  border-radius: 100px;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #505050;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  &:hover {
    border: 1px solid #618bf6;
  }
  .customHandle {
    border: none;
  }
}
