.customGroupNode {
  background: #5268cc;
  border-radius: 12px;
  width: 120px;
  height: 54px;
  padding: 8px 12px;
  header {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
  }
  main {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;

    color: rgba(255, 255, 255, 0.8);
  }
}
