.customDecisionNode {
  height: 28px;
  width: 120px;
  background: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 13px;
  &:hover {
    border-color: #618bf6;
    .nodeOptionMenuBtn {
      display: block;
    }
  }
  .nodeOptionMenuBtn {
    margin-left: auto;
    display: none;
  }
  &-label {
    font-size: 14px;
    line-height: 28px;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    color: #18181b;
  }
}
