.customNodeWrapper {
  position: relative;
  width: 150px;
  display: flex;
  justify-content: center;
  &:hover {
    .nodeAddonBtn {
      display: block;
    }
  }
  .nodeAddonBtn {
    position: absolute;
    margin: auto;
    // inset: 0;
    z-index: 999;
    display: none;
  }
  .react-flow__handle {
    &[data-handleid="top"] {
      visibility: hidden;
    }
  }
}
